### LICENSE PLATE EVALUATION FOR MALAYSIAN SUBSET

In [1]:
import pandas as pd
import numpy as np

In [2]:
header = ["Plate"]
dt=pd.read_csv('M_groundtruth.csv',names=header)
dt.dtypes

Plate    object
dtype: object

In [3]:
dt['Plate'].str.split('',expand=True).head(20)
# dt

   0  1  2  3  4  5  6     7     8
0     A  G  R  7  8  4     0
1     P  P  F  2  3  0     8
2     P  P  P  7  6  9     8
3     P  L  A  2  5  4     5
4     P  L  U  9  8  2     8
5     V  W  1  0  5  4        None
6     P  P  R  9  3  0     0
7     B  M  M  4  1  4     9
8     W  A  5  0  6  6     R
9     V  E  R  2  4  1     5
10    B  J  Y  6  6  8     8
11    D  E  B  7  0     None  None
12    J  C  X  9  4  9        None
13    P  P  R  7  1  3     5
14    P  G  C  6  1  0     7
15    P  N  R  6  1  6     8
16    M  A  H  4  1     None  None
17    P  L  U  8  9  6     5
18    P  K  V  2  6  2     1
19    V  B  L  7  6  8     9

In [4]:
header2 = ["Plate"]
ANN_df=pd.read_csv('ANN_subset_MY.csv',skip_blank_lines=False,names=header2)
ANN_df.dtypes

Plate    object
dtype: object

In [5]:
ANN_df['Plate'].str.split('',expand=True)

      0    1    2     3     4     5     6     7     8
0          A    G     R     7     8     4     0
1          P    P     F     Z     3     0     8
2          P    P     P     1     6     3     B
3          P    2        None  None  None  None  None
4   NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
5          V    W     O     5     4        None  None
6   NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
7          B    M     M     4     4     9        None
8          W    A     5     0     6     6     R
9          N    M     E     R     Z     4     5
10         B    J     Y     6     6        None  None
11         D    E     B     7     0        None  None
12  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
13  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
14         P    0     C     6     0     7        None
15  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
16         A    H     4     1        None  None  None
17         B    9     5     5        None  None  None
18         P    K     V     2     6     2        None
19  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
20         F       None  None  None  None  None  None
21  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
22  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
23         B    N     Q     M     6     3        None
24         A    K     B     7     5     6     8
25         A    K     E     I     7     Z     0
26         P    P     B     1     5        None  None
27         P    L     Y     5     0     1     7
28         W    U     A     I     D     2     3
29         W    J     V     2     B     5     4

In [6]:
cp = pd.merge(dt, ANN_df, how='inner', on=['Plate']).count()
cp

Plate    6
dtype: int64

In [7]:
missing = dt['Plate'].count() - ANN_df['Plate'].count()
missing

8

In [8]:
fail = 30 - cp - missing
fail

Plate    16
dtype: int64

In [9]:
correct = cp/30
miss = missing/30
fail_detect = fail/30

In [10]:
print ('Correct / Overall Plates -> ' , round(correct, 2).to_string())
print ('Missing / Overall Plates -> ' , round(miss, 2))
print ('Incorrect / Overall Plates -> ' , round(fail_detect, 2).to_string())

Correct / Overall Plates ->  Plate    0.2
Missing / Overall Plates ->  0.27
Incorrect / Overall Plates ->  Plate    0.53

In [11]:
Accuracy = correct * 100
print('Accuracy', round(Accuracy, 2).to_string(), '%')

Accuracy Plate    20.0 %

# Part 2 -> Accuracy of the characters by row for each License Plate

In [12]:
merged = dt.copy()

In [13]:
merged['Plate2'] = ANN_df['Plate']
# merged.head(20)

In [14]:
merged1 = merged['Plate'].str.split('',expand=True)
merged2 = merged['Plate2'].str.split('',expand=True)
m3 = merged1 + merged2

In [15]:
m4=m3.copy()

In [16]:
m4['AA']=(m4 == 'AA').T.sum()
m4['BB']=(m4 == 'BB').T.sum()
m4['CC']=(m4 == 'CC').T.sum()
m4['DD']=(m4 == 'DD').T.sum()
m4['EE']=(m4 == 'EE').T.sum()
m4['FF']=(m4 == 'FF').T.sum()
m4['GG']=(m4 == 'GG').T.sum()
m4['HH']=(m4 == 'HH').T.sum()
m4['II']=(m4 == 'II').T.sum()
m4['JJ']=(m4 == 'JJ').T.sum()
m4['KK']=(m4 == 'KK').T.sum()
m4['LL']=(m4 == 'LL').T.sum()
m4['MM']=(m4 == 'MM').T.sum()
m4['NN']=(m4 == 'NN').T.sum()
m4['OO']=(m4 == 'OO').T.sum()
m4['PP']=(m4 == 'PP').T.sum()
m4['QQ']=(m4 == 'QQ').T.sum()
m4['RR']=(m4 == 'RR').T.sum()
m4['SS']=(m4 == 'SS').T.sum()
m4['TT']=(m4 == 'TT').T.sum()
m4['UU']=(m4 == 'UU').T.sum()
m4['VV']=(m4 == 'VV').T.sum()
m4['WW']=(m4 == 'WW').T.sum()
m4['XX']=(m4 == 'XX').T.sum()
m4['YY']=(m4 == 'YY').T.sum()
m4['ZZ']=(m4 == 'ZZ').T.sum()

m4['00']=(m4 == '00').T.sum()
m4['11']=(m4 == '11').T.sum()
m4['22']=(m4 == '22').T.sum()
m4['33']=(m4 == '33').T.sum()
m4['44']=(m4 == '44').T.sum()
m4['55']=(m4 == '55').T.sum()
m4['66']=(m4 == '66').T.sum()
m4['77']=(m4 == '77').T.sum()
m4['88']=(m4 == '88').T.sum()
m4['99']=(m4 == '99').T.sum()

In [17]:
m4[['AA', 'BB', 'CC', 'DD', 'EE', 'FF', 'GG', 'HH', 'II', 'JJ', 'KK', 'LL', 'MM', 'NN', 'OO', 'PP', 'QQ', 'RR', 'SS', 'TT', 'UU', 'VV', 'WW', 'XX', 'YY', 'ZZ', '00', '33', '44', '55', '66', '77', '99', '88', '11', '22']].head(20)

,AA,BB,CC,DD,EE,FF,GG,HH,II,JJ,...,00,33,44,55,66,77,99,88,11,22
0,1,0,0,0,0,0,1,0,0,0,...,1,0,1,0,0,1,0,1,0,0
1,0,0,0,0,0,1,0,0,0,0,...,1,1,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
8,1,0,0,0,0,0,0,0,0,0,...,1,0,0,1,2,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,2,0,0,0,0,0
11,0,1,0,1,1,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,2
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
m4["Correct(TP)"] = m4.sum(axis=1)

In [19]:
dataString = dt.copy()
stringData = dataString.to_string()

In [20]:
dataString["PlateLength"]= dataString['Plate'].str.len()

In [21]:
dataString["Correct(TP)"] = m4["Correct(TP)"]

In [22]:
dataString["Overall"] = dataString['Correct(TP)']/dataString['PlateLength']

In [23]:
dataString["Overall"] = dataString['Overall'].round(2)

In [24]:
acc = dataString['Overall'].sum()/30*100

In [25]:
print('Accuracy - > ', acc.round(2), '%')

Accuracy - >  43.93 %

# Part 3 - Precision and Recall

In [26]:
rp=merged2.replace(np.nan, '-')
gt=merged1.replace(np.nan, '-')

In [27]:
test = gt+rp
# test.head(20)

In [28]:
test1=test.replace(np.nan, '-')
# test1

In [29]:
test1['AA']=(test1 == 'AA').T.sum()
test1['BB']=(test1 == 'BB').T.sum()
test1['CC']=(test1 == 'CC').T.sum()
test1['DD']=(test1 == 'DD').T.sum()
test1['EE']=(test1 == 'EE').T.sum()
test1['FF']=(test1 == 'FF').T.sum()
test1['GG']=(test1 == 'GG').T.sum()
test1['HH']=(test1 == 'HH').T.sum()
test1['II']=(test1 == 'II').T.sum()
test1['JJ']=(test1 == 'JJ').T.sum()
test1['KK']=(test1 == 'KK').T.sum()
test1['LL']=(test1 == 'LL').T.sum()
test1['MM']=(test1 == 'MM').T.sum()
test1['NN']=(test1 == 'NN').T.sum()
test1['OO']=(test1 == 'OO').T.sum()
test1['PP']=(test1 == 'PP').T.sum()
test1['QQ']=(test1 == 'QQ').T.sum()
test1['RR']=(test1 == 'RR').T.sum()
test1['SS']=(test1 == 'SS').T.sum()
test1['TT']=(test1 == 'TT').T.sum()
test1['UU']=(test1 == 'UU').T.sum()
test1['VV']=(test1 == 'VV').T.sum()
test1['WW']=(test1 == 'WW').T.sum()
test1['XX']=(test1 == 'XX').T.sum()
test1['YY']=(test1 == 'YY').T.sum()
test1['ZZ']=(test1 == 'ZZ').T.sum()

test1['00']=(test1 == '00').T.sum()
test1['11']=(test1 == '11').T.sum()
test1['22']=(test1 == '22').T.sum()
test1['33']=(test1 == '33').T.sum()
test1['44']=(test1 == '44').T.sum()
test1['55']=(test1 == '55').T.sum()
test1['66']=(test1 == '66').T.sum()
test1['77']=(test1 == '77').T.sum()
test1['88']=(test1 == '88').T.sum()
test1['99']=(test1 == '99').T.sum()

In [30]:
test1["Sum(TP)"] = test1.sum(axis=1)
# test1.head(5)

In [31]:
test2 = test.copy()

In [32]:
test2['A-']=(test2 == 'A-').T.sum()
test2['B-']=(test2 == 'B-').T.sum()
test2['C-']=(test2 == 'C-').T.sum()
test2['D-']=(test2 == 'D-').T.sum()
test2['E-']=(test2 == 'E-').T.sum()
test2['F-']=(test2 == 'F-').T.sum()
test2['G-']=(test2 == 'G-').T.sum()
test2['H-']=(test2 == 'H-').T.sum()
test2['I-']=(test2 == 'I-').T.sum()
test2['J-']=(test2 == 'J-').T.sum()
test2['K-']=(test2 == 'K-').T.sum()
test2['L-']=(test2 == 'L-').T.sum()
test2['M-']=(test2 == 'M-').T.sum()
test2['N-']=(test2 == 'N-').T.sum()
test2['O-']=(test2 == 'O-').T.sum()
test2['P-']=(test2 == 'P-').T.sum()
test2['Q-']=(test2 == 'Q-').T.sum()
test2['R-']=(test2 == 'R-').T.sum()
test2['S-']=(test2 == 'S-').T.sum()
test2['T-']=(test2 == 'T-').T.sum()
test2['U-']=(test2 == 'U-').T.sum()
test2['V-']=(test2 == 'V-').T.sum()
test2['W-']=(test2 == 'W-').T.sum()
test2['X-']=(test2 == 'X-').T.sum()
test2['Y-']=(test2 == 'Y-').T.sum()
test2['Z-']=(test2 == 'Z-').T.sum()

test2['0-']=(test2 == '0-').T.sum()
test2['1-']=(test2 == '1-').T.sum()
test2['2-']=(test2 == '2-').T.sum()
test2['3-']=(test2 == '3-').T.sum()
test2['4-']=(test2 == '4-').T.sum()
test2['5-']=(test2 == '5-').T.sum()
test2['6-']=(test2 == '6-').T.sum()
test2['7-']=(test2 == '7-').T.sum()
test2['8-']=(test2 == '8-').T.sum()
test2['9-']=(test2 == '9-').T.sum()

In [33]:
test2["Sum(FN)"] = test2.sum(axis=1)
# test2.head(15)

In [34]:
test3 = dt.copy()
test3['Model Data'] = merged['Plate2']
test3['PlateLength'] = dataString["PlateLength"]
test3['Correct(TP)'] = test1['Sum(TP)']
test3['Missing(FN)'] = test2['Sum(FN)']
test3['Incorrect(FP)'] = test3['PlateLength'] - test3['Correct(TP)'] - test3['Missing(FN)']

In [35]:
test3.head(5)

     Plate Model Data  PlateLength  Correct(TP)  Missing(FN)  Incorrect(FP)
0  AGR7840    AGR7840            7            7            0              0
1  PPF2308    PPFZ308            7            6            0              1
2  PPP7698    PPP163B            7            4            0              3
3  PLA2545         P2            7            1            4              2
4  PLU9828        NaN            7            0            7              0

In [36]:
# Correct (TP), inccorect (FP), missing(FN)
# Precision = TP / (TP + FP)
# Recall = TP / (TP + FN)

results = test3.copy()
results['Recall'] = results['Correct(TP)'] / (results['Correct(TP)'] + results['Missing(FN)'])
results['Precision'] = results['Correct(TP)'] / (results['Correct(TP)'] + results['Incorrect(FP)'])
results

,Plate,Model Data,PlateLength,Correct(TP),Missing(FN),Incorrect(FP),Recall,Precision
0,AGR7840,AGR7840,7,7,0,0,1.000000,1.000000
1,PPF2308,PPFZ308,7,6,0,1,1.000000,0.857143
2,PPP7698,PPP163B,7,4,0,3,1.000000,0.571429
3,PLA2545,P2,7,1,4,2,0.200000,0.333333
4,PLU9828,NaN,7,0,7,0,0.000000,NaN
5,VW1054,VWO54,6,2,0,4,1.000000,0.333333
6,PPR9300,NaN,7,0,7,0,0.000000,NaN
7,BMM4149,BMM449,7,4,0,3,1.000000,0.571429
8,WA5066R,WA5066R,7,7,0,0,1.000000,1.000000
9,VER2415,NMERZ45,7,1,0,6,1.000000,0.142857
10,BJY6688,BJY66,7,5,1,1,0.833333,0.833333
11,DEB70,DEB70,5,5,0,0,1.000000,1.000000
12,JCX949,NaN,6,0,6,0,0.000000,NaN
13,PPR7135,NaN,7,0,7,0,0.000000,NaN
14,PGC6107,P0C607,7,3,0,4,1.000000,0.428571
15,PNR6168,NaN,7,0,7,0,0.000000,NaN
16,MAH41,AH41,5,0,0,5,NaN,0.000000
17,PLU8965,B955,7,0,2,5,0.000000,0.000000
18,PKV2621,PKV262,7,6,0,1,1.000000,0.857143
19,VBL7689,NaN,7,0,7,0,0.000000,NaN
20,PPF5639,F,7,0,5,2,0.000000,0.000000
21,PNY9137,NaN,7,0,7,0,0.000000,NaN
22,KDQ535,NaN,6,0,6,0,0.000000,NaN
23,BNQ8463,BNQM63,7,3,0,4,1.000000,0.428571
24,AKB7568,AKB7568,7,7,0,0,1.000000,1.000000
25,AKE1728,AKEI7Z0,7,4,0,3,1.000000,0.571429
26,PPB15,PPB15,5,5,0,0,1.000000,1.000000
27,PLY5017,PLY5017,7,7,0,0,1.000000,1.000000
28,WUA1623,WUAID23,7,5,0,2,1.000000,0.714286
29,WJV2854,WJV2B54,7,6,0,1,1.000000,0.857143

In [37]:
print('Precision - > ', (results['Precision'].sum() / 30 * 100).round(2), '%')
print('Recall - > ', (results['Recall'].sum() / 30 * 100).round(2), '%')

Precision - >  45.0 %
Recall - >  60.11 %

### LICENSE PLATE EVALUATION FOR KAGGLE SUBSET

In [38]:
import pandas as pd
import numpy as np

In [39]:
header = ["Plate"]
dt=pd.read_csv('K_groundtruth.csv',names=header)
dt.dtypes

Plate    object
dtype: object

In [40]:
dt['Plate'].str.split('',expand=True).head(20)
dt

         Plate
0        E4GLE
1       PL8REC
2       DAN54P
3         9ASF
4      SK553AL
5      AK00281
6      317J939
7      ZG687NL
8   HR26BR9044
9   HR26BP3543
10  MH01AV8866
11     H982FKL
12     325J521
13     KK2313L
14     ZG862NS
15     ZG6347H
16   15LK10898
17     AASH938
18     ZG495ZR
19     SK646CA
20     983T939
21      KZ422S
22     SB268BZ
23     BW678RX
24    KAAC1689
25     977K593
26     PGMN112
27     FBRE182
28    KU2222AK
29     ZG2328V

In [41]:
header2 = ["Plate"]
ANN_df=pd.read_csv('ANN_subset_kaggle.csv',skip_blank_lines=False,names=header2)
ANN_df.dtypes

Plate    object
dtype: object

In [42]:
ANN_df['Plate'].str.split('',expand=True)

   0  1  2     3     4     5     6     7     8     9     10    11
0      W  E     4     6     L     E        None  None  None  None
1      P  L     8     R     E     C        None  None  None  None
2      D  A     N     5     4     P        None  None  None  None
3      9  A     S     F        None  None  None  None  None  None
4      S  K     5     5     3     A     L        None  None  None
5      A  K     0     0     2     8     1        None  None  None
6      B  3     1     7     J     9     3     9        None  None
7      Z  G     6     8     7     N     L        None  None  None
8      J     None  None  None  None  None  None  None  None  None
9      H  R     2     6     B     P     3     5     4     3
10     M  H     0     J     A     V     8     8     6     6
11     H  9     B     2     F     K     L        None  None  None
12     3  2     5     J     5     2     J        None  None  None
13     K  K     2     3     1     3     L        None  None  None
14     Z  G     8     6     2     N     S        None  None  None
15     L  Z     G     6     3     4     7     H        None  None
16     1  5     L     K     1     0     8     9     8        None
17     A  A     S     H     9     3     8        None  None  None
18     Z  G     4     9     5     Z     R        None  None  None
19     S  K     6     4     6     C     A        None  None  None
20     9  8     3     T     9     3     9        None  None  None
21     K  Z     4     2     2     S        None  None  None  None
22     S  B     2     6     8     B     Z        None  None  None
23     B  W     6     7     8     R     X        None  None  None
24     K  A     A     C     6     8     9        None  None  None
25     9  7     7     K     5     9     3        None  None  None
26     P  G     M     N     1     1     2        None  None  None
27     F  B     R     E     1     8     2        None  None  None
28     K  U     2     2     2     2     A     K        None  None
29     Z  G     2     3     2     8     V        None  None  None

# Part 1 -> Accuracy of the Entire License Plate for each row

In [43]:
cp = pd.merge(dt, ANN_df, how='inner', on=['Plate']).count()
cp

Plate    22
dtype: int64

In [44]:
missing = dt['Plate'].count() - ANN_df['Plate'].count()
missing

0

In [45]:
fail = 30 - cp - missing
fail

Plate    8
dtype: int64

In [46]:
correct = cp/30
miss = missing/30
fail_detect = fail/30

In [47]:
print ('Correct / Overall Plates -> ' , round(correct, 2).to_string())
print ('Missing / Overall Plates -> ' , round(miss, 2))
print ('Incorrect / Overall Plates -> ' , round(fail_detect, 2).to_string())

Correct / Overall Plates ->  Plate    0.73
Missing / Overall Plates ->  0.0
Incorrect / Overall Plates ->  Plate    0.27

In [48]:
Accuracy = correct * 100
print('Accuracy', round(Accuracy, 2).to_string(), '%')

Accuracy Plate    73.33 %

# Part 2 -> Accuracy of the characters by row for each License Plate

In [49]:
merged = dt.copy()

In [50]:
merged['Plate2'] = ANN_df['Plate']
# merged.head(20)

In [51]:
merged1 = merged['Plate'].str.split('',expand=True)
merged2 = merged['Plate2'].str.split('',expand=True)
m3 = merged1 + merged2

In [52]:
m4=m3.copy()

In [53]:
m4['AA']=(m4 == 'AA').T.sum()
m4['BB']=(m4 == 'BB').T.sum()
m4['CC']=(m4 == 'CC').T.sum()
m4['DD']=(m4 == 'DD').T.sum()
m4['EE']=(m4 == 'EE').T.sum()
m4['FF']=(m4 == 'FF').T.sum()
m4['GG']=(m4 == 'GG').T.sum()
m4['HH']=(m4 == 'HH').T.sum()
m4['II']=(m4 == 'II').T.sum()
m4['JJ']=(m4 == 'JJ').T.sum()
m4['KK']=(m4 == 'KK').T.sum()
m4['LL']=(m4 == 'LL').T.sum()
m4['MM']=(m4 == 'MM').T.sum()
m4['NN']=(m4 == 'NN').T.sum()
m4['OO']=(m4 == 'OO').T.sum()
m4['PP']=(m4 == 'PP').T.sum()
m4['QQ']=(m4 == 'QQ').T.sum()
m4['RR']=(m4 == 'RR').T.sum()
m4['SS']=(m4 == 'SS').T.sum()
m4['TT']=(m4 == 'TT').T.sum()
m4['UU']=(m4 == 'UU').T.sum()
m4['VV']=(m4 == 'VV').T.sum()
m4['WW']=(m4 == 'WW').T.sum()
m4['XX']=(m4 == 'XX').T.sum()
m4['YY']=(m4 == 'YY').T.sum()
m4['ZZ']=(m4 == 'ZZ').T.sum()

m4['00']=(m4 == '00').T.sum()
m4['11']=(m4 == '11').T.sum()
m4['22']=(m4 == '22').T.sum()
m4['33']=(m4 == '33').T.sum()
m4['44']=(m4 == '44').T.sum()
m4['55']=(m4 == '55').T.sum()
m4['66']=(m4 == '66').T.sum()
m4['77']=(m4 == '77').T.sum()
m4['88']=(m4 == '88').T.sum()
m4['99']=(m4 == '99').T.sum()

In [54]:
m4[['AA', 'BB', 'CC', 'DD', 'EE', 'FF', 'GG', 'HH', 'II', 'JJ', 'KK', 'LL', 'MM', 'NN', 'OO', 'PP', 'QQ', 'RR', 'SS', 'TT', 'UU', 'VV', 'WW', 'XX', 'YY', 'ZZ', '00', '33', '44', '55', '66', '77', '99', '88', '11', '22']].head(20)

,AA,BB,CC,DD,EE,FF,GG,HH,II,JJ,...,00,33,44,55,66,77,99,88,11,22
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,1,0,0,1,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
3,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,1,0,2,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,1,1,1
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,1,0,1,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,1,0,0,0,0,0,1,0,0,...,0,2,1,1,1,0,0,0,0,1
10,1,0,0,0,0,0,0,1,0,0,...,1,0,0,0,2,0,0,2,0,0
11,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
12,0,0,0,0,0,0,0,0,0,1,...,0,1,0,2,0,0,0,0,0,2
13,0,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,1,1
14,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,1,0,1
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,2,2,0
17,2,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,1,1,0,0
18,0,0,0,0,0,0,1,0,0,0,...,0,0,1,1,0,0,1,0,0,0
19,1,0,1,0,0,0,0,0,0,0,...,0,0,1,0,2,0,0,0,0,0

In [55]:
m4["Correct(TP)"] = m4.sum(axis=1)

In [56]:
dataString = dt.copy()
stringData = dataString.to_string()

In [57]:
dataString["PlateLength"]= dataString['Plate'].str.len()

In [58]:
dataString["Correct(TP)"] = m4["Correct(TP)"]

In [59]:
dataString["Overall"] = dataString['Correct(TP)']/dataString['PlateLength']

In [60]:
dataString["Overall"] = dataString['Overall'].round(2)

In [61]:
# dataString

In [62]:
acc = dataString['Overall'].sum()/30*100

In [63]:
print('Accuracy - > ', acc.round(2), '%')

Accuracy - >  83.73 %

# Part 3 - Precision and Recall

In [64]:
rp=merged2.replace(np.nan, '-')
gt=merged1.replace(np.nan, '-')

In [65]:
test = gt+rp
# test.head(20)

In [66]:
test1=test.replace(np.nan, '-')
# test1

In [67]:
test1['AA']=(test1 == 'AA').T.sum()
test1['BB']=(test1 == 'BB').T.sum()
test1['CC']=(test1 == 'CC').T.sum()
test1['DD']=(test1 == 'DD').T.sum()
test1['EE']=(test1 == 'EE').T.sum()
test1['FF']=(test1 == 'FF').T.sum()
test1['GG']=(test1 == 'GG').T.sum()
test1['HH']=(test1 == 'HH').T.sum()
test1['II']=(test1 == 'II').T.sum()
test1['JJ']=(test1 == 'JJ').T.sum()
test1['KK']=(test1 == 'KK').T.sum()
test1['LL']=(test1 == 'LL').T.sum()
test1['MM']=(test1 == 'MM').T.sum()
test1['NN']=(test1 == 'NN').T.sum()
test1['OO']=(test1 == 'OO').T.sum()
test1['PP']=(test1 == 'PP').T.sum()
test1['QQ']=(test1 == 'QQ').T.sum()
test1['RR']=(test1 == 'RR').T.sum()
test1['SS']=(test1 == 'SS').T.sum()
test1['TT']=(test1 == 'TT').T.sum()
test1['UU']=(test1 == 'UU').T.sum()
test1['VV']=(test1 == 'VV').T.sum()
test1['WW']=(test1 == 'WW').T.sum()
test1['XX']=(test1 == 'XX').T.sum()
test1['YY']=(test1 == 'YY').T.sum()
test1['ZZ']=(test1 == 'ZZ').T.sum()

test1['00']=(test1 == '00').T.sum()
test1['11']=(test1 == '11').T.sum()
test1['22']=(test1 == '22').T.sum()
test1['33']=(test1 == '33').T.sum()
test1['44']=(test1 == '44').T.sum()
test1['55']=(test1 == '55').T.sum()
test1['66']=(test1 == '66').T.sum()
test1['77']=(test1 == '77').T.sum()
test1['88']=(test1 == '88').T.sum()
test1['99']=(test1 == '99').T.sum()

In [68]:
test1["Sum(TP)"] = test1.sum(axis=1)
# test1.head(5)

In [69]:
test2 = test.copy()

In [70]:
test2['A-']=(test2 == 'A-').T.sum()
test2['B-']=(test2 == 'B-').T.sum()
test2['C-']=(test2 == 'C-').T.sum()
test2['D-']=(test2 == 'D-').T.sum()
test2['E-']=(test2 == 'E-').T.sum()
test2['F-']=(test2 == 'F-').T.sum()
test2['G-']=(test2 == 'G-').T.sum()
test2['H-']=(test2 == 'H-').T.sum()
test2['I-']=(test2 == 'I-').T.sum()
test2['J-']=(test2 == 'J-').T.sum()
test2['K-']=(test2 == 'K-').T.sum()
test2['L-']=(test2 == 'L-').T.sum()
test2['M-']=(test2 == 'M-').T.sum()
test2['N-']=(test2 == 'N-').T.sum()
test2['O-']=(test2 == 'O-').T.sum()
test2['P-']=(test2 == 'P-').T.sum()
test2['Q-']=(test2 == 'Q-').T.sum()
test2['R-']=(test2 == 'R-').T.sum()
test2['S-']=(test2 == 'S-').T.sum()
test2['T-']=(test2 == 'T-').T.sum()
test2['U-']=(test2 == 'U-').T.sum()
test2['V-']=(test2 == 'V-').T.sum()
test2['W-']=(test2 == 'W-').T.sum()
test2['X-']=(test2 == 'X-').T.sum()
test2['Y-']=(test2 == 'Y-').T.sum()
test2['Z-']=(test2 == 'Z-').T.sum()

test2['0-']=(test2 == '0-').T.sum()
test2['1-']=(test2 == '1-').T.sum()
test2['2-']=(test2 == '2-').T.sum()
test2['3-']=(test2 == '3-').T.sum()
test2['4-']=(test2 == '4-').T.sum()
test2['5-']=(test2 == '5-').T.sum()
test2['6-']=(test2 == '6-').T.sum()
test2['7-']=(test2 == '7-').T.sum()
test2['8-']=(test2 == '8-').T.sum()
test2['9-']=(test2 == '9-').T.sum()

In [71]:
test2["Sum(FN)"] = test2.sum(axis=1)
# test2.head(15)

In [72]:
test3 = dt.copy()
test3['Model Data'] = merged['Plate2']
test3['PlateLength'] = dataString["PlateLength"]
test3['Correct(TP)'] = test1['Sum(TP)']
test3['Missing(FN)'] = test2['Sum(FN)']
test3['Incorrect(FP)'] = test3['PlateLength'] - test3['Correct(TP)'] - test3['Missing(FN)']

In [73]:
test3.head(5)

     Plate Model Data  PlateLength  Correct(TP)  Missing(FN)  Incorrect(FP)
0    E4GLE     WE46LE            5            0            0              5
1   PL8REC     PL8REC            6            6            0              0
2   DAN54P     DAN54P            6            6            0              0
3     9ASF       9ASF            4            4            0              0
4  SK553AL    SK553AL            7            7            0              0

In [74]:
# Correct (TP), inccorect (FP), missing(FN)
# Precision = TP / (TP + FP)
# Recall = TP / (TP + FN)

results = test3.copy()
results['Recall'] = results['Correct(TP)'] / (results['Correct(TP)'] + results['Missing(FN)'])
results['Precision'] = results['Correct(TP)'] / (results['Correct(TP)'] + results['Incorrect(FP)'])
results

,Plate,Model Data,PlateLength,Correct(TP),Missing(FN),Incorrect(FP),Recall,Precision
0,E4GLE,WE46LE,5,0,0,5,NaN,0.000000
1,PL8REC,PL8REC,6,6,0,0,1.0,1.000000
2,DAN54P,DAN54P,6,6,0,0,1.0,1.000000
3,9ASF,9ASF,4,4,0,0,1.0,1.000000
4,SK553AL,SK553AL,7,7,0,0,1.0,1.000000
5,AK00281,AK00281,7,7,0,0,1.0,1.000000
6,317J939,B317J939,7,0,0,7,NaN,0.000000
7,ZG687NL,ZG687NL,7,7,0,0,1.0,1.000000
8,HR26BR9044,J,10,0,8,2,0.0,0.000000
9,HR26BP3543,HR26BP3543,10,10,0,0,1.0,1.000000
10,MH01AV8866,MH0JAV8866,10,9,0,1,1.0,0.900000
11,H982FKL,H9B2FKL,7,6,0,1,1.0,0.857143
12,325J521,325J52J,7,6,0,1,1.0,0.857143
13,KK2313L,KK2313L,7,7,0,0,1.0,1.000000
14,ZG862NS,ZG862NS,7,7,0,0,1.0,1.000000
15,ZG6347H,LZG6347H,7,0,0,7,NaN,0.000000
16,15LK10898,15LK10898,9,9,0,0,1.0,1.000000
17,AASH938,AASH938,7,7,0,0,1.0,1.000000
18,ZG495ZR,ZG495ZR,7,7,0,0,1.0,1.000000
19,SK646CA,SK646CA,7,7,0,0,1.0,1.000000
20,983T939,983T939,7,7,0,0,1.0,1.000000
21,KZ422S,KZ422S,6,6,0,0,1.0,1.000000
22,SB268BZ,SB268BZ,7,7,0,0,1.0,1.000000
23,BW678RX,BW678RX,7,7,0,0,1.0,1.000000
24,KAAC1689,KAAC689,8,4,0,4,1.0,0.500000
25,977K593,977K593,7,7,0,0,1.0,1.000000
26,PGMN112,PGMN112,7,7,0,0,1.0,1.000000
27,FBRE182,FBRE182,7,7,0,0,1.0,1.000000
28,KU2222AK,KU2222AK,8,8,0,0,1.0,1.000000
29,ZG2328V,ZG2328V,7,7,0,0,1.0,1.000000

In [75]:
print('Precision - > ', (results['Precision'].sum() / 30 * 100).round(2), '%')
print('Recall - > ', (results['Recall'].sum() / 30 * 100).round(2), '%')

Precision - >  83.71 %
Recall - >  86.67 %