# LICENSE PLATE EVALUATION FOR MALAYSIA DATASET (Subset)

In [1]:
import pandas as pd
import numpy as np

In [2]:
header = ["Plate"]
dt=pd.read_csv('M_groundtruth.csv',names=header)
dt.dtypes

Plate    object
dtype: object

In [3]:
dt['Plate'].str.split('',expand=True).head(20)

   0  1  2  3  4  5  6     7     8
0     A  G  R  7  8  4     0
1     P  P  F  2  3  0     8
2     P  P  P  7  6  9     8
3     P  L  A  2  5  4     5
4     P  L  U  9  8  2     8
5     V  W  1  0  5  4        None
6     P  P  R  9  3  0     0
7     B  M  M  4  1  4     9
8     W  A  5  0  6  6     R
9     V  E  R  2  4  1     5
10    B  J  Y  6  6  8     8
11    D  E  B  7  0     None  None
12    J  C  X  9  4  9        None
13    P  P  R  7  1  3     5
14    P  G  C  6  1  0     7
15    P  N  R  6  1  6     8
16    M  A  H  4  1     None  None
17    P  L  U  8  9  6     5
18    P  K  V  2  6  2     1
19    V  B  L  7  6  8     9

In [4]:
header2 = ["Plate"]
drf=pd.read_csv('subset_MRF.csv',skip_blank_lines=False,names=header2)
drf.dtypes

Plate    object
dtype: object

In [5]:
drf['Plate'].str.split('',expand=True)

      0    1    2     3     4     5     6     7     8
0          A    G     R     7     B     4     0
1          P    P     F     7     3     Q     B
2          P    P     P     J     6     9     B
3          P    2        None  None  None  None  None
4   NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
5          V    W     U     5     4        None  None
6   NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
7          B    M     M     4     4     9        None
8          W    L     5     U     6     6     R
9          L    F     L     C     2     4     5
10         B    J     Y     6     6        None  None
11         D    E     B     7     D        None  None
12  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
13  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
14         P    G     C     6     0     7        None
15  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
16         A    H     4     1        None  None  None
17         B    S     6     5        None  None  None
18         P    K     F     2     6     2        None
19  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
20         F       None  None  None  None  None  None
21  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
22  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
23         8    N     Q     L     6     3        None
24         A    K     B     T     5     6     8
25         A    K     E     3     T     2     B
26         P    P     H     1     L        None  None
27         P    L     Y     5     U     T     7
28         W    U     A     T     B     2     3
29         W    J     V     2     B     H     4

# Part 1 - Accuracy of the Entire License Plate

In [6]:
cp = pd.merge(dt, drf, how='inner', on=['Plate']).count()
cp

Plate    0
dtype: int64

In [7]:
missing = dt['Plate'].count() - drf['Plate'].count()
missing

8

In [8]:
fail = 30 - cp - missing
fail

Plate    22
dtype: int64

In [9]:
correct = cp/30
miss = missing/30
fail_detect = fail/30

In [10]:
print ('Correct / Overall Plates -> ' , round(correct, 2).to_string())
print ('Missing / Overall Plates -> ' , round(miss, 2))
print ('Failed Detection / Overall Plates -> ' , round(fail_detect, 2).to_string())

Correct / Overall Plates ->  Plate    0.0
Missing / Overall Plates ->  0.27
Failed Detection / Overall Plates ->  Plate    0.73

The Accuracy of the Entire License Plate

In [11]:
Accuracy = correct * 100
print('Accuracy', round(Accuracy, 2).to_string(), '%')

Accuracy Plate    0.0 %

# Part 2 - Accuracy of the characters by row for each License Plate

In [12]:
merged = dt.copy()

In [13]:
merged['Plate2'] = drf['Plate']
merged.head(20)

      Plate   Plate2
0   AGR7840  AGR7B40
1   PPF2308  PPF73QB
2   PPP7698  PPPJ69B
3   PLA2545       P2
4   PLU9828      NaN
5    VW1054    VWU54
6   PPR9300      NaN
7   BMM4149   BMM449
8   WA5066R  WL5U66R
9   VER2415  LFLC245
10  BJY6688    BJY66
11    DEB70    DEB7D
12   JCX949      NaN
13  PPR7135      NaN
14  PGC6107   PGC607
15  PNR6168      NaN
16    MAH41     AH41
17  PLU8965     BS65
18  PKV2621   PKF262
19  VBL7689      NaN

Merge the Groundtruth characters with Prediction characters. Example: MM -> first M is Groundtruth, second M is predicted, means the model predicted correctly

In [14]:
merged1 = merged['Plate'].str.split('',expand=True)
merged2 = merged['Plate2'].str.split('',expand=True)
m3 = merged1 + merged2
m3.head(20)

      0    1    2    3    4    5    6    7    8
0         AA   GG   RR   77   8B   44   00
1         PP   PP   FF   27   33   0Q   8B
2         PP   PP   PP   7J   66   99   8B
3         PP   L2    A  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5         VV   WW   1U   05   54    4  NaN  NaN
6   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
7         BB   MM   MM   44   14   49    9  NaN
8         WW   AL   55   0U   66   66   RR
9         VL   EF   RL   2C   42   14   55
10        BB   JJ   YY   66   66    8  NaN  NaN
11        DD   EE   BB   77   0D       NaN  NaN
12  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
13  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
14        PP   GG   CC   66   10   07    7  NaN
15  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
16        MA   AH   H4   41    1  NaN  NaN  NaN
17        PB   LS   U6   85    9  NaN  NaN  NaN
18        PP   KK   VF   22   66   22    1  NaN
19  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [15]:
m4=m3.copy()

Calculate how many that are correctly predicted. Example: AA, BB, CC, ...

In [16]:
m4['AA']=(m4 == 'AA').T.sum()
m4['BB']=(m4 == 'BB').T.sum()
m4['CC']=(m4 == 'CC').T.sum()
m4['DD']=(m4 == 'DD').T.sum()
m4['EE']=(m4 == 'EE').T.sum()
m4['FF']=(m4 == 'FF').T.sum()
m4['GG']=(m4 == 'GG').T.sum()
m4['HH']=(m4 == 'HH').T.sum()
m4['II']=(m4 == 'II').T.sum()
m4['JJ']=(m4 == 'JJ').T.sum()
m4['KK']=(m4 == 'KK').T.sum()
m4['LL']=(m4 == 'LL').T.sum()
m4['MM']=(m4 == 'MM').T.sum()
m4['NN']=(m4 == 'NN').T.sum()
m4['OO']=(m4 == 'OO').T.sum()
m4['PP']=(m4 == 'PP').T.sum()
m4['QQ']=(m4 == 'QQ').T.sum()
m4['RR']=(m4 == 'RR').T.sum()
m4['SS']=(m4 == 'SS').T.sum()
m4['TT']=(m4 == 'TT').T.sum()
m4['UU']=(m4 == 'UU').T.sum()
m4['VV']=(m4 == 'VV').T.sum()
m4['WW']=(m4 == 'WW').T.sum()
m4['XX']=(m4 == 'XX').T.sum()
m4['YY']=(m4 == 'YY').T.sum()
m4['ZZ']=(m4 == 'ZZ').T.sum()

m4['00']=(m4 == '00').T.sum()
m4['11']=(m4 == '11').T.sum()
m4['22']=(m4 == '22').T.sum()
m4['33']=(m4 == '33').T.sum()
m4['44']=(m4 == '44').T.sum()
m4['55']=(m4 == '55').T.sum()
m4['66']=(m4 == '66').T.sum()
m4['77']=(m4 == '77').T.sum()
m4['88']=(m4 == '88').T.sum()
m4['99']=(m4 == '99').T.sum()

In [17]:
m4[['AA', 'BB', 'CC', 'DD', 'EE', 'FF', 'GG', 'HH', 'II', 'JJ', 'KK', 'LL', 'MM', 'NN', 'OO', 'PP', 'QQ', 'RR', 'SS', 'TT', 'UU', 'VV', 'WW', 'XX', 'YY', 'ZZ', '00', '11', '22', '33', '44', '55', '66', '77', '88', '99']].head(20)

,AA,BB,CC,DD,EE,FF,GG,HH,II,JJ,...,00,11,22,33,44,55,66,77,88,99
0,1,0,0,0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,1,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,2,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
10,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,2,0,0,0
11,0,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,1,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
m4["Correct(TP)"] = m4.sum(axis=1)

C:\Users\JIAYU~1\AppData\Local\Temp/ipykernel_13820/3922289713.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  m4["Correct(TP)"] = m4.sum(axis=1)

In [19]:
m4

,0,1,2,3,4,5,6,7,8,AA,...,11,22,33,44,55,66,77,88,99,Correct(TP)
0,,AA,GG,RR,77,8B,44,00,,1,...,0,0,0,1,0,0,1,0,0,6
1,,PP,PP,FF,27,33,0Q,8B,,0,...,0,0,1,0,0,0,0,0,0,4
2,,PP,PP,PP,7J,66,99,8B,,0,...,0,0,0,0,0,1,0,0,1,5
3,,PP,L2,A,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,1
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
5,,VV,WW,1U,05,54,4,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,2
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
7,,BB,MM,MM,44,14,49,9,NaN,0,...,0,0,0,1,0,0,0,0,0,4
8,,WW,AL,55,0U,66,66,RR,,0,...,0,0,0,0,1,2,0,0,0,5
9,,VL,EF,RL,2C,42,14,55,,0,...,0,0,0,0,1,0,0,0,0,1
10,,BB,JJ,YY,66,66,8,NaN,NaN,0,...,0,0,0,0,0,2,0,0,0,5
11,,DD,EE,BB,77,0D,,NaN,NaN,0,...,0,0,0,0,0,0,1,0,0,4
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
14,,PP,GG,CC,66,10,07,7,NaN,0,...,0,0,0,0,0,1,0,0,0,4
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
16,,MA,AH,H4,41,1,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
17,,PB,LS,U6,85,9,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
18,,PP,KK,VF,22,66,22,1,NaN,0,...,0,2,0,0,0,1,0,0,0,5
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
20,,PF,P,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
23,,B8,NN,QQ,8L,46,63,3,NaN,0,...,0,0,0,0,0,0,0,0,0,2
24,,AA,KK,BB,7T,55,66,88,,1,...,0,0,0,0,1,1,0,1,0,6
25,,AA,KK,EE,13,7T,22,8B,,1,...,0,1,0,0,0,0,0,0,0,4
26,,PP,PP,BH,11,5L,,NaN,NaN,0,...,1,0,0,0,0,0,0,0,0,3
27,,PP,LL,YY,55,0U,1T,77,,0,...,0,0,0,0,1,0,1,0,0,5
28,,WW,UU,AA,1T,6B,22,33,,1,...,0,1,1,0,0,0,0,0,0,5
29,,WW,JJ,VV,22,8B,5H,44,,0,...,0,1,0,1,0,0,0,0,0,5

In [20]:
dataString = dt.copy()
stringData = dataString.to_string()

In [21]:
dataString["PlateLength"]= dataString['Plate'].str.len()

In [22]:
dataString["Correct(TP)"] = m4["Correct(TP)"]

In [23]:
dataString["Overall"] = dataString['Correct(TP)']/dataString['PlateLength']

In [24]:
dataString["Overall"] = dataString['Overall'].round(2)

In [25]:
dataString

      Plate  PlateLength  Correct(TP)  Overall
0   AGR7840            7            6     0.86
1   PPF2308            7            4     0.57
2   PPP7698            7            5     0.71
3   PLA2545            7            1     0.14
4   PLU9828            7            0     0.00
5    VW1054            6            2     0.33
6   PPR9300            7            0     0.00
7   BMM4149            7            4     0.57
8   WA5066R            7            5     0.71
9   VER2415            7            1     0.14
10  BJY6688            7            5     0.71
11    DEB70            5            4     0.80
12   JCX949            6            0     0.00
13  PPR7135            7            0     0.00
14  PGC6107            7            4     0.57
15  PNR6168            7            0     0.00
16    MAH41            5            0     0.00
17  PLU8965            7            0     0.00
18  PKV2621            7            5     0.71
19  VBL7689            7            0     0.00
20  PPF5639            7            0     0.00
21  PNY9137            7            0     0.00
22   KDQ535            6            0     0.00
23  BNQ8463            7            2     0.29
24  AKB7568            7            6     0.86
25  AKE1728            7            4     0.57
26    PPB15            5            3     0.60
27  PLY5017            7            5     0.71
28  WUA1623            7            5     0.71
29  WJV2854            7            5     0.71

In [26]:
acc = dataString['Overall'].sum()/230*100

The accuracy for the characters

In [27]:
print('Accuracy - > ', acc.round(2), '%')

Accuracy - >  4.9 %

# Part 3 - Precision and Recall

Replace NaN to "-". If the model could not predict, it will return "-"

In [28]:
rp=merged2.replace(np.nan, '-')
gt=merged1.replace(np.nan, '-')

Merge the Groundtruth characters with Prediction characters. Example: MA -> M is Groundtruth, A is predicted. If A- means A is groundtruth, - is the model can't predict

In [29]:
test = gt+rp
test.head(20)

    0   1   2   3   4   5   6   7   8
0      AA  GG  RR  77  8B  44  00
1      PP  PP  FF  27  33  0Q  8B
2      PP  PP  PP  7J  66  99  8B
3      PP  L2   A  2-  5-  4-  5-   -
4   -  P-  L-  U-  9-  8-  2-  8-   -
5      VV  WW  1U  05  54   4   -  --
6   -  P-  P-  R-  9-  3-  0-  0-   -
7      BB  MM  MM  44  14  49   9   -
8      WW  AL  55  0U  66  66  RR
9      VL  EF  RL  2C  42  14  55
10     BB  JJ  YY  66  66   8  8-   -
11     DD  EE  BB  77  0D      --  --
12  -  J-  C-  X-  9-  4-  9-   -  --
13  -  P-  P-  R-  7-  1-  3-  5-   -
14     PP  GG  CC  66  10  07   7   -
15  -  P-  N-  R-  6-  1-  6-  8-   -
16     MA  AH  H4  41   1   -  --  --
17     PB  LS  U6  85   9  6-  5-   -
18     PP  KK  VF  22  66  22   1   -
19  -  V-  B-  L-  7-  6-  8-  9-   -

In [30]:
test1=test.replace(np.nan, '-')
test1

    0   1   2   3   4   5   6   7   8
0      AA  GG  RR  77  8B  44  00
1      PP  PP  FF  27  33  0Q  8B
2      PP  PP  PP  7J  66  99  8B
3      PP  L2   A  2-  5-  4-  5-   -
4   -  P-  L-  U-  9-  8-  2-  8-   -
5      VV  WW  1U  05  54   4   -  --
6   -  P-  P-  R-  9-  3-  0-  0-   -
7      BB  MM  MM  44  14  49   9   -
8      WW  AL  55  0U  66  66  RR
9      VL  EF  RL  2C  42  14  55
10     BB  JJ  YY  66  66   8  8-   -
11     DD  EE  BB  77  0D      --  --
12  -  J-  C-  X-  9-  4-  9-   -  --
13  -  P-  P-  R-  7-  1-  3-  5-   -
14     PP  GG  CC  66  10  07   7   -
15  -  P-  N-  R-  6-  1-  6-  8-   -
16     MA  AH  H4  41   1   -  --  --
17     PB  LS  U6  85   9  6-  5-   -
18     PP  KK  VF  22  66  22   1   -
19  -  V-  B-  L-  7-  6-  8-  9-   -
20     PF   P  F-  5-  6-  3-  9-   -
21  -  P-  N-  Y-  9-  1-  3-  7-   -
22  -  K-  D-  Q-  5-  3-  5-   -  --
23     B8  NN  QQ  8L  46  63   3   -
24     AA  KK  BB  7T  55  66  88
25     AA  KK  EE  13  7T  22  8B
26     PP  PP  BH  11  5L      --  --
27     PP  LL  YY  55  0U  1T  77
28     WW  UU  AA  1T  6B  22  33
29     WW  JJ  VV  22  8B  5H  44

In [31]:
test1['AA']=(test1 == 'AA').T.sum()
test1['BB']=(test1 == 'BB').T.sum()
test1['CC']=(test1 == 'CC').T.sum()
test1['DD']=(test1 == 'DD').T.sum()
test1['EE']=(test1 == 'EE').T.sum()
test1['FF']=(test1 == 'FF').T.sum()
test1['GG']=(test1 == 'GG').T.sum()
test1['HH']=(test1 == 'HH').T.sum()
test1['II']=(test1 == 'II').T.sum()
test1['JJ']=(test1 == 'JJ').T.sum()
test1['KK']=(test1 == 'KK').T.sum()
test1['LL']=(test1 == 'LL').T.sum()
test1['MM']=(test1 == 'MM').T.sum()
test1['NN']=(test1 == 'NN').T.sum()
test1['OO']=(test1 == 'OO').T.sum()
test1['PP']=(test1 == 'PP').T.sum()
test1['QQ']=(test1 == 'QQ').T.sum()
test1['RR']=(test1 == 'RR').T.sum()
test1['SS']=(test1 == 'SS').T.sum()
test1['TT']=(test1 == 'TT').T.sum()
test1['UU']=(test1 == 'UU').T.sum()
test1['VV']=(test1 == 'VV').T.sum()
test1['WW']=(test1 == 'WW').T.sum()
test1['XX']=(test1 == 'XX').T.sum()
test1['YY']=(test1 == 'YY').T.sum()
test1['ZZ']=(test1 == 'ZZ').T.sum()

test1['00']=(test1 == '00').T.sum()
test1['11']=(test1 == '11').T.sum()
test1['22']=(test1 == '22').T.sum()
test1['33']=(test1 == '33').T.sum()
test1['44']=(test1 == '44').T.sum()
test1['55']=(test1 == '55').T.sum()
test1['66']=(test1 == '66').T.sum()
test1['77']=(test1 == '77').T.sum()
test1['88']=(test1 == '88').T.sum()
test1['99']=(test1 == '99').T.sum()

In [32]:
test1["Sum(TP)"] = test1.sum(axis=1)

C:\Users\JIAYU~1\AppData\Local\Temp/ipykernel_13820/2875601810.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  test1["Sum(TP)"] = test1.sum(axis=1)

In [33]:
test2 = test.copy()

Calculate how many that cannot be predicted. Example: A-, B-, C-, ...

In [34]:
test2['A-']=(test2 == 'A-').T.sum()
test2['B-']=(test2 == 'B-').T.sum()
test2['C-']=(test2 == 'C-').T.sum()
test2['D-']=(test2 == 'D-').T.sum()
test2['E-']=(test2 == 'E-').T.sum()
test2['F-']=(test2 == 'F-').T.sum()
test2['G-']=(test2 == 'G-').T.sum()
test2['H-']=(test2 == 'H-').T.sum()
test2['I-']=(test2 == 'I-').T.sum()
test2['J-']=(test2 == 'J-').T.sum()
test2['K-']=(test2 == 'K-').T.sum()
test2['L-']=(test2 == 'L-').T.sum()
test2['M-']=(test2 == 'M-').T.sum()
test2['N-']=(test2 == 'N-').T.sum()
test2['O-']=(test2 == 'O-').T.sum()
test2['P-']=(test2 == 'P-').T.sum()
test2['Q-']=(test2 == 'Q-').T.sum()
test2['R-']=(test2 == 'R-').T.sum()
test2['S-']=(test2 == 'S-').T.sum()
test2['T-']=(test2 == 'T-').T.sum()
test2['U-']=(test2 == 'U-').T.sum()
test2['V-']=(test2 == 'V-').T.sum()
test2['W-']=(test2 == 'W-').T.sum()
test2['X-']=(test2 == 'X-').T.sum()
test2['Y-']=(test2 == 'Y-').T.sum()
test2['Z-']=(test2 == 'Z-').T.sum()

test2['0-']=(test2 == '0-').T.sum()
test2['1-']=(test2 == '1-').T.sum()
test2['2-']=(test2 == '2-').T.sum()
test2['3-']=(test2 == '3-').T.sum()
test2['4-']=(test2 == '4-').T.sum()
test2['5-']=(test2 == '5-').T.sum()
test2['6-']=(test2 == '6-').T.sum()
test2['7-']=(test2 == '7-').T.sum()
test2['8-']=(test2 == '8-').T.sum()
test2['9-']=(test2 == '9-').T.sum()

In [35]:
test2["Sum(FN)"] = test2.sum(axis=1)
test2

C:\Users\JIAYU~1\AppData\Local\Temp/ipykernel_13820/1776673086.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  test2["Sum(FN)"] = test2.sum(axis=1)

,0,1,2,3,4,5,6,7,8,A-,...,1-,2-,3-,4-,5-,6-,7-,8-,9-,Sum(FN)
0,,AA,GG,RR,77,8B,44,00,,0,...,0,0,0,0,0,0,0,0,0,0
1,,PP,PP,FF,27,33,0Q,8B,,0,...,0,0,0,0,0,0,0,0,0,0
2,,PP,PP,PP,7J,66,99,8B,,0,...,0,0,0,0,0,0,0,0,0,0
3,,PP,L2,A,2-,5-,4-,5-,-,0,...,0,1,0,1,2,0,0,0,0,4
4,-,P-,L-,U-,9-,8-,2-,8-,-,0,...,0,1,0,0,0,0,0,2,1,7
5,,VV,WW,1U,05,54,4,-,--,0,...,0,0,0,0,0,0,0,0,0,0
6,-,P-,P-,R-,9-,3-,0-,0-,-,0,...,0,0,1,0,0,0,0,0,1,7
7,,BB,MM,MM,44,14,49,9,-,0,...,0,0,0,0,0,0,0,0,0,0
8,,WW,AL,55,0U,66,66,RR,,0,...,0,0,0,0,0,0,0,0,0,0
9,,VL,EF,RL,2C,42,14,55,,0,...,0,0,0,0,0,0,0,0,0,0
10,,BB,JJ,YY,66,66,8,8-,-,0,...,0,0,0,0,0,0,0,1,0,1
11,,DD,EE,BB,77,0D,,--,--,0,...,0,0,0,0,0,0,0,0,0,0
12,-,J-,C-,X-,9-,4-,9-,-,--,0,...,0,0,0,1,0,0,0,0,2,6
13,-,P-,P-,R-,7-,1-,3-,5-,-,0,...,1,0,1,0,1,0,1,0,0,7
14,,PP,GG,CC,66,10,07,7,-,0,...,0,0,0,0,0,0,0,0,0,0
15,-,P-,N-,R-,6-,1-,6-,8-,-,0,...,1,0,0,0,0,2,0,1,0,7
16,,MA,AH,H4,41,1,-,--,--,0,...,0,0,0,0,0,0,0,0,0,0
17,,PB,LS,U6,85,9,6-,5-,-,0,...,0,0,0,0,1,1,0,0,0,2
18,,PP,KK,VF,22,66,22,1,-,0,...,0,0,0,0,0,0,0,0,0,0
19,-,V-,B-,L-,7-,6-,8-,9-,-,0,...,0,0,0,0,0,1,1,1,1,7
20,,PF,P,F-,5-,6-,3-,9-,-,0,...,0,0,1,0,1,1,0,0,1,5
21,-,P-,N-,Y-,9-,1-,3-,7-,-,0,...,1,0,1,0,0,0,1,0,1,7
22,-,K-,D-,Q-,5-,3-,5-,-,--,0,...,0,0,1,0,2,0,0,0,0,6
23,,B8,NN,QQ,8L,46,63,3,-,0,...,0,0,0,0,0,0,0,0,0,0
24,,AA,KK,BB,7T,55,66,88,,0,...,0,0,0,0,0,0,0,0,0,0
25,,AA,KK,EE,13,7T,22,8B,,0,...,0,0,0,0,0,0,0,0,0,0
26,,PP,PP,BH,11,5L,,--,--,0,...,0,0,0,0,0,0,0,0,0,0
27,,PP,LL,YY,55,0U,1T,77,,0,...,0,0,0,0,0,0,0,0,0,0
28,,WW,UU,AA,1T,6B,22,33,,0,...,0,0,0,0,0,0,0,0,0,0
29,,WW,JJ,VV,22,8B,5H,44,,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
test3 = dt.copy()
test3['Model Data'] = merged['Plate2']
test3['PlateLength'] = dataString["PlateLength"]
test3['Correct(TP)'] = test1['Sum(TP)']
test3['Missing(FN)'] = test2['Sum(FN)']
test3['Incorrect(FP)'] = test3['PlateLength'] - test3['Correct(TP)'] - test3['Missing(FN)']

In [37]:
test3

      Plate Model Data  PlateLength  Correct(TP)  Missing(FN)  Incorrect(FP)
0   AGR7840    AGR7B40            7            6            0              1
1   PPF2308    PPF73QB            7            4            0              3
2   PPP7698    PPPJ69B            7            5            0              2
3   PLA2545         P2            7            1            4              2
4   PLU9828        NaN            7            0            7              0
5    VW1054      VWU54            6            2            0              4
6   PPR9300        NaN            7            0            7              0
7   BMM4149     BMM449            7            4            0              3
8   WA5066R    WL5U66R            7            5            0              2
9   VER2415    LFLC245            7            1            0              6
10  BJY6688      BJY66            7            5            1              1
11    DEB70      DEB7D            5            4            0              1
12   JCX949        NaN            6            0            6              0
13  PPR7135        NaN            7            0            7              0
14  PGC6107     PGC607            7            4            0              3
15  PNR6168        NaN            7            0            7              0
16    MAH41       AH41            5            0            0              5
17  PLU8965       BS65            7            0            2              5
18  PKV2621     PKF262            7            5            0              2
19  VBL7689        NaN            7            0            7              0
20  PPF5639          F            7            0            5              2
21  PNY9137        NaN            7            0            7              0
22   KDQ535        NaN            6            0            6              0
23  BNQ8463     8NQL63            7            2            0              5
24  AKB7568    AKBT568            7            6            0              1
25  AKE1728    AKE3T2B            7            4            0              3
26    PPB15      PPH1L            5            3            0              2
27  PLY5017    PLY5UT7            7            5            0              2
28  WUA1623    WUATB23            7            5            0              2
29  WJV2854    WJV2BH4            7            5            0              2

In [38]:
results = test3.copy()
results['Recall'] = results['Correct(TP)'] / (results['Correct(TP)'] + results['Missing(FN)'])
results['Precision'] = results['Correct(TP)'] / (results['Correct(TP)'] + results['Incorrect(FP)'])
results

,Plate,Model Data,PlateLength,Correct(TP),Missing(FN),Incorrect(FP),Recall,Precision
0,AGR7840,AGR7B40,7,6,0,1,1.000000,0.857143
1,PPF2308,PPF73QB,7,4,0,3,1.000000,0.571429
2,PPP7698,PPPJ69B,7,5,0,2,1.000000,0.714286
3,PLA2545,P2,7,1,4,2,0.200000,0.333333
4,PLU9828,NaN,7,0,7,0,0.000000,NaN
5,VW1054,VWU54,6,2,0,4,1.000000,0.333333
6,PPR9300,NaN,7,0,7,0,0.000000,NaN
7,BMM4149,BMM449,7,4,0,3,1.000000,0.571429
8,WA5066R,WL5U66R,7,5,0,2,1.000000,0.714286
9,VER2415,LFLC245,7,1,0,6,1.000000,0.142857
10,BJY6688,BJY66,7,5,1,1,0.833333,0.833333
11,DEB70,DEB7D,5,4,0,1,1.000000,0.800000
12,JCX949,NaN,6,0,6,0,0.000000,NaN
13,PPR7135,NaN,7,0,7,0,0.000000,NaN
14,PGC6107,PGC607,7,4,0,3,1.000000,0.571429
15,PNR6168,NaN,7,0,7,0,0.000000,NaN
16,MAH41,AH41,5,0,0,5,NaN,0.000000
17,PLU8965,BS65,7,0,2,5,0.000000,0.000000
18,PKV2621,PKF262,7,5,0,2,1.000000,0.714286
19,VBL7689,NaN,7,0,7,0,0.000000,NaN
20,PPF5639,F,7,0,5,2,0.000000,0.000000
21,PNY9137,NaN,7,0,7,0,0.000000,NaN
22,KDQ535,NaN,6,0,6,0,0.000000,NaN
23,BNQ8463,8NQL63,7,2,0,5,1.000000,0.285714
24,AKB7568,AKBT568,7,6,0,1,1.000000,0.857143
25,AKE1728,AKE3T2B,7,4,0,3,1.000000,0.571429
26,PPB15,PPH1L,5,3,0,2,1.000000,0.600000
27,PLY5017,PLY5UT7,7,5,0,2,1.000000,0.714286
28,WUA1623,WUATB23,7,5,0,2,1.000000,0.714286
29,WJV2854,WJV2BH4,7,5,0,2,1.000000,0.714286

In [39]:
print('Precision - > ', (results['Precision'].sum() / 230 * 100).round(2), '%')
print('Recall - > ', (results['Recall'].sum() / 230 * 100).round(2), '%')

Precision - >  5.05 %
Recall - >  7.84 %